<!DOCTYPE html>
<html>
    <head>
        <title>Forgot password</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
        <form  class="form-inline">
            <div class="form-group">
                <label>Enter your mail id</label>
                <input type="gmail" id="gmail" required class="form-control">
                <button onclick="forgot(event)" class="btn btn-primary">Submit</button>
            </div>
        </form>
            <button onclick="login()" class="btn btn-defaul">Login</button>
        </div>
        <script>
            async function forgot(e){
                try{
                e.preventDefault();
                const gmail=document.getElementById('gmail').value
                    const mail={
                    gmail:gmail
                    }
                    const token=localStorage.getItem('token')
                    await axios.post('http://localhost:9000/forget-password',mail,{headers:{'Authorization':token}})
                    .then(()=>{
                        document.getElementById('gmail').value=''
                    })
                    .catch((err)=>{
                        document.getElementById('add-err-info').innerHTML=err.response.data.message
                    })
                }catch(err){
                        console.log(err)
                        document.getElementById('add-err-info').innerHTML='Internal server when generating password'
                    }
                
            }
            function login(){
            window.location.href='./login.html';
                }
        </script>
    </body>
</html>